img {
    width: 200px;
    text-align: center;
    background-color: green;
}

h2 {
    font-family: 'Rye', cursive;
    color: #778899;
    text-align: center;
}

h1 {
    font-family: 'Frijole', cursive;
    color: #D8BFD8;
    text-align: center;
}

.classes {
    display: flex;
    justify-content:center;
    background-color: #FFE4E1;
}


p {
    font-family: 'Fredericka the Great', cursive;
    font-size: 19px;
    color: #B0C4DE;
    text-align: center;
}